{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<style>
  .govuk-grid-column-one-third {
    background-color: #f0f0f080; /* Grey background color */
    padding: 20px; /* Add padding for better visibility */
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Prevent serious damage licence for Geese
    </h1>

  </div>

  <div class="govuk-grid-column-one-third">
    <a href="#">Geese dashboard (SuperSet login required)</a><br>
    <a href="#">Geese H&S Licence Guidance</a><br>
    <a href="#">Management Information</a><br>
  </div>
</div>

<br>
<div class="section-divider"></div>
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third applicant-panel">
    
    <p>
      <strong>Assigned to:</strong> Kevin G
    </p>

    <p>
      <strong>Status:</strong> Assigned
    </p>

    <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button-assign">
      Unassign
    </a>

    <br>

    <a href="/staffui/withdraw" class="govuk-button govuk-button--secondary" data-module="govuk-button-withdraw">
      Withdraw application
    </a>



    <style>
      .section-divider {
        border-top: 1px solid #ccc;
        margin-top: 0em;
        margin-bottom: 1.5em;
      }
    </style>

<div class="section-divider"></div>

<h2 class="govuk-heading-m">
  Reference number
</h2>

<p class="govuk-body">NS-GSD-05446</p>

    <h2 class="govuk-heading-m">
      Licence holder
    </h2>

    <p class="govuk-body">
      {{ data['lhname1'] | default("Noah Martinez") }}<br>
      {{ data['lhorganisation1'] | default("Martinez Ltd") }}<br>
      {{ data['lhtelephone1'] | default("07899 111422") }}<br>
    {{ data['lhemail1'] | default("Noah@Martinez.com") }}</p>



      <h2 class="govuk-heading-m">
        Applicant
      </h2>
      <p class="govuk-body">
        <p class="govuk-body">
          {{ data['laname1'] | default("Bill Martinez") }}<br>
          {{ data['laorganisation1'] | default("Martinez Ltd") }}<br>
          {{ data['latelephone1'] | default("07843 763518") }}<br>
          {{ data['laemail1'] | default("Bill@Martinez.com") }}</p>

          <h2 class="govuk-heading-m">
            Site address
          </h2>
          <p class="govuk-body">
            <p class="govuk-body">
              {{ data['siteaddressline1-1'] | default("9 Cedar Lane") }}<br>
              {{ data['siteaddressline2-1'] | default("Maplewood") }}<br>
              {{ data['siteaddressline3-1'] | default("Edinburgh") }}<br>
              {{ data['siteaddressline4-1'] | default("") }}<br>
              {{ data['siteaddressline5-1'] | default("EH159GH") }}<br>
              </p>

        <a href="/staffui/edit-details" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Edit details
        </a>

      </div>


      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">
          Assess the application
        </h2>

        <ol class="app-task-list">
          <li>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/staffui/background-information" aria-describedby="eligibility-status">
                    Background information
                  </a>
                </span>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/staffui/test-1" aria-describedby="eligibility-status">
                    Test 1: Prevent serious damage issue
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Complete</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/staffui/test-2" aria-describedby="read-declaration-status">
                    Test 2: Preventative measures
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag app-task-list__tag" id="eligibility-status">Complete</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/staffui/test-3" aria-describedby="read-declaration-status">
                    Test 3: Species and activities
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag app-task-list__tag" id="list-convictions-status">Complete</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/staffui/decision" aria-describedby="read-declaration-status">
                    Decision
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Incomplete</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="#" aria-describedby="read-declaration-status">
                    Create licence
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
              </li>
            </ul>
          </ol>

          {% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Licensing officer notes",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Date"
    },
    {
      text: "Officer"
    },
    {
      text: "Note"
    }
  ],
  rows: [
    [
      {
        text: "22/06/2023"
      },
      {
        text: "Kevin G"
      },
      {
        html: "The licence holder called to update the site address address to"
      }
    ]
  ]
}) }}

          {{ govukButton({
            href: "/staffui/add-note",
            text: "Add a note",
            classes: "govuk-button--secondary"
          }) }}



        </div>
      </div>

      {% endblock %}