{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/staffui/assigned-test2-passed"
}) }}
{% endblock %}

{% block content %}

<style>
  .govuk-grid-column-one-third {
    background-color: #f0f0f080; /* Grey background color */
    padding: 20px; /* Add padding for better visibility */
  }
</style>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Prevent serious damage licence for Geese
    </h1>

  </div>

  <div class="govuk-grid-column-one-third">
    <a href="#">Geese dashboard (SuperSet login required)</a><br>
    <a href="#">Geese H&S Licence Guidance</a><br>
    <a href="#">Management Information</a><br>
  </div>
</div>

<br>
<div class="section-divider"></div>
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third applicant-panel">
    

    <p>
      <strong>Assigned to:</strong> Kevin G
    </p>

    <p>
      <strong>Status:</strong> Assigned
    </p>

  

    <style>
      .section-divider {
        border-top: 1px solid #ccc;
        margin-top: 0em;
        margin-bottom: 1.5em;
      }
    </style>

<div class="section-divider"></div>

<h2 class="govuk-heading-m">
  Reference number
</h2>

<p class="govuk-body">NS-GSD-05446</p>

    <h2 class="govuk-heading-m">
      Licence holder
    </h2>

    <p class="govuk-body">
      {{ data['lhname1'] | default("Noah Martinez") }}<br>
      {{ data['lhorganisation1'] | default("Martinez Ltd") }}<br>
      {{ data['lhtelephone1'] | default("0789911122") }}<br>
    {{ data['lhemail1'] | default("Noah@Martinez.com") }}</p>



      <h2 class="govuk-heading-m">
        Applicant
      </h2>
      <p class="govuk-body">
        <p class="govuk-body">
          {{ data['laname1'] | default("Bill Martinez") }}<br>
          {{ data['laorganisation1'] | default("Martinez Ltd") }}<br>
          {{ data['latelephone1'] | default("07843 763518") }}<br>
          {{ data['laemail1'] | default("Bill@Martinez.com") }}</p>

          <h2 class="govuk-heading-m">
            Site address
          </h2>
          <p class="govuk-body">
            <p class="govuk-body">
              {{ data['siteaddressline1-1'] | default("9 Cedar Lane") }}<br>
              {{ data['siteaddressline2-1'] | default("Maplewood") }}<br>
              {{ data['siteaddressline3-1'] | default("Edinburgh") }}<br>
              {{ data['siteaddressline4-1'] | default("") }}<br>
              {{ data['siteaddressline5-1'] | default("EH159GH") }}<br>

      </div>


      <div class="govuk-grid-column-two-thirds">

        <form method="post" action="/staffui/decision">

        <h2 class="govuk-heading-l">
          Test 3: Species and activities
        </h2>

        {{ govukTable({
          caption: "Review the licence activities",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: false,
          head: [
            {
              text: "Species"
            },
            {
              text: "Activity"
            },
            {
              html: "How many geese are <br> causing the problem"
            },
            {
              html: "Approved"
            },
            {
              html: ""
            }
          ],
          rows: [
            [
              {
                text: "Pink-footed geese"
              },
              {
                text: "Kill"
              },
              {
                text: "30"
              },
              {
                text: "0"
              },
              {
                html: '<a href="/staffui/test-3-change">Change</a>'
              }
            ]
          ]
        }) }}
        
        
        {{ govukButton({
          text: "Add species",
          classes: "govuk-button--secondary",
          href: "test-3-change-species"
        }) }}

        {{ govukTextarea({
          name: "test2-detail",
          id: "test2-detail",
          label: {
            text: "Your assessment",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            html: "This will appear in the Statement of Reason section of the licence"
          }
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "test3-pass",
          name: "test3-pass",
          fieldset: {
            legend: {
              text: "Does the application pass test 3?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: test3Pass === true
            },
            {
              value: "no",
              text: "No",
              checked: test3Pass === false
            }
          ]
        }) }}
      
        
        
                  {% from "govuk/components/button/macro.njk" import govukButton %}
                  
                  {{ govukButton({
                    text: "Save and continue",
                    classes: "govuk-button"
                  }) }}
        
                  {{ govukButton({
                    text: "Exit",
                    classes: "govuk-button--secondary",
                    href: "/staffui/assigned-test2-passed"
                  }) }}
        
        </form>


        </div>
      </div>

      {% endblock %}