{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/staffui/assigned"
}) }}
{% endblock %}

{% block content %}

<style>
  .govuk-grid-column-one-third {
    background-color: #f0f0f080; /* Grey background color */
    padding: 20px; /* Add padding for better visibility */
  }
</style>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Prevent serious damage licence for Geese
    </h1>

  </div>

  <div class="govuk-grid-column-one-third">
    <a href="#">Geese dashboard (SuperSet login required)</a><br>
    <a href="#">Geese H&S Licence Guidance</a><br>
    <a href="#">Management Information</a><br>
  </div>
</div>

<br>
<div class="section-divider"></div>
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third applicant-panel">
    

    <p>
      <strong>Assigned to:</strong> Kevin G
    </p>

    <p>
      <strong>Status:</strong> Assigned
    </p>

  

    <style>
      .section-divider {
        border-top: 1px solid #ccc;
        margin-top: 0em;
        margin-bottom: 1.5em;
      }
    </style>

<div class="section-divider"></div>

<h2 class="govuk-heading-m">
  Reference number
</h2>

<p class="govuk-body">NS-GSD-05446</p>

    <h2 class="govuk-heading-m">
      Licence holder
    </h2>

    <p class="govuk-body">
      {{ data['lhname1'] | default("Noah Martinez") }}<br>
      {{ data['lhorganisation1'] | default("Martinez Ltd") }}<br>
      {{ data['lhtelephone1'] | default("0789911122") }}<br>
    {{ data['lhemail1'] | default("Noah@Martinez.com") }}</p>



      <h2 class="govuk-heading-m">
        Applicant
      </h2>
      <p class="govuk-body">
        <p class="govuk-body">
          {{ data['laname1'] | default("Bill Martinez") }}<br>
          {{ data['laorganisation1'] | default("Martinez Ltd") }}<br>
          {{ data['latelephone1'] | default("07843 763518") }}<br>
          {{ data['laemail1'] | default("Bill@Martinez.com") }}</p>

          <h2 class="govuk-heading-m">
            Site address
          </h2>
          <p class="govuk-body">
            <p class="govuk-body">
              {{ data['siteaddressline1-1'] | default("9 Cedar Lane") }}<br>
              {{ data['siteaddressline2-1'] | default("Maplewood") }}<br>
              {{ data['siteaddressline3-1'] | default("Edinburgh") }}<br>
              {{ data['siteaddressline4-1'] | default("") }}<br>
              {{ data['siteaddressline5-1'] | default("EH159GH") }}<br>

      </div>


      <div class="govuk-grid-column-two-thirds">

        {% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Test 1: Prevent serious damage issue",
  captionClasses: "govuk-table__caption--l",
  firstCellIsHeader: true,
  head: [
    {
      text: "Species"
    },
    {
      text: "Activity"
    },
    {
      html: "How many geese are <br> causing the problem"
    }
  ],
  rows: [
    [
      {
        text: "Pink-footed goose"
      },
      {
        text: "Kill"
      },
      {
        text: "30"
      }
    ]
  ]
}) }}

<h2 class="govuk-heading-m">
  Provide details of the damage
</h2>

<p>
  The geese have developed a fondness for my prize winning flower beds, nibbling away at the vibrant blooms which I had carefully nurtured.
</p>

<h2 class="govuk-heading-m">
  When is damage occurring or is likely to occur
</h2>

<p>
  <b>Start month:</b> February <br>
  <b>End month:</b> July
</p>


<div class="section-divider"></div>

<form method="post" action="/staffui/test-2">

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "test1-detail",
  id: "test1-detail",
  label: {
    text: "Your assessment",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Sum up the issues and who is being affected. This will appear in the Statement of Reason section of the licence."
  }
}) }}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "test1-pass",
    name: "test1-pass",
    fieldset: {
      legend: {
        text: "Does the application pass test 1?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: test1Pass === true
      },
      {
        value: "no",
        text: "No",
        checked: test1Pass === false
      }
    ]
  }) }}

          {% from "govuk/components/button/macro.njk" import govukButton %}
          
          {{ govukButton({
            text: "Save and continue",
            classes: "govuk-button"
          }) }}

          {{ govukButton({
            text: "Exit",
            classes: "govuk-button--secondary",
            href: "/staffui/assigned"
          }) }}

</form>

        </div>
      </div>

      {% endblock %}