{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <p class="govuk-body application-number">NS-RSD-14786</p>
  <h2 class="govuk-heading-m">Prevent serious damage application</h2>
  <div class="govuk-inset-text">
    <h2 class="govuk-heading-s">
      Application withdrawn by Kevin G on 18 June 2023
    </h2>
    <p>Licence withdrawn by applicant as no longer required.</p>
</div>


{% endblock %}