{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form method="post" action="/type-of-damage">


      {% set activityOptions = [
        { value: "take-and-destroy-nests-and-eggs", text: "Take and destroy nests and eggs" },
        { value: "take-chicks", text: "Take chicks" },
        { value: "take-adults", text: "Take adults" },
        { value: "kill-chicks", text: "Kill chicks" },
        { value: "kill-adults", text: "Kill adults" },
        { value: "disturb", text: "Disturb" },
        { value: "obstruct-access-to-sett", text: "Obstruct access to sett" },
        { value: "damage-sett", text: "Damage sett" },
        { value: "destroy-sett", text: "Destroy sett" },
        { value: "dam-removal", text: "Dam removal" },
        { value: "dam-notching", text: "Dam notching" },
        { value: "damage-to-lodge-or-natal-burrow", text: "Damage to lodge or natal burrow" },
        { value: "destroy-lodge-or-natal-burrow", text: "Destroy lodge or natal burrow" },
        { value: "trapping", text: "Trapping" },
        { value: "lethal-control", text: "Lethal control" },
        { value: "obstruct-access-to-place-of-shelter-or-protection", text: "Obstruct access to place of shelter or protection, breeding site or resting place" },
        { value: "damage-place-of-shelter-or-protection", text: "Damage place of shelter or protection, breeding site or resting place" },
        { value: "destroy-place-of-shelter-or-protection", text: "Destroy place of shelter or protection, breeding site or resting place" }
        ] %}

      {% if data['speciesSelection'] == 'other birds' %}
        {% set radioOptions = [activityOptions[0], activityOptions[1], activityOptions[2], activityOptions[3], activityOptions[4], activityOptions[5], activityOptions[6], activityOptions[7]] %}
      {% elif data['speciesSelection'] == 'badgers' %}
        {% set radioOptions = [activityOptions[2], activityOptions[8], activityOptions[9], activityOptions[10]] %}
      {% elif data['speciesSelection'] == 'hares' %}
        {% set radioOptions = [activityOptions[2], activityOptions[3], activityOptions[4], activityOptions[5]] %} 
      {% elif data['speciesSelection'] == 'beavers' %}
        {% set radioOptions = [activityOptions[2], activityOptions[3], activityOptions[4], activityOptions[5], activityOptions[8]] %}
      {% elif data['speciesSelection'] == 'other animals' %}
        {% set radioOptions = [activityOptions[0], activityOptions[1], activityOptions[2], activityOptions[3], activityOptions[4], activityOptions[5], activityOptions[6], activityOptions[8]] %}
        {% endif %}

        {{ govukCheckboxes({
          name: "activities-required",
          fieldset: {
            legend: {
              text: "What activities do you require?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: radioOptions
        }) }}
        

      {{ govukButton({
      text: "Continue",
      preventDoubleClick: true
      }) }}

    </form>

  </div>
</div>

{% endblock %}