{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="/number-of-dens-added">

    {% set activityOptions = [
      { value: "take-and-destroy-nests-and-eggs", text: "Take and destroy nests and eggs", conditional: {html: takeNestEggExpand} },
      { value: "take", text: "Take", conditional: {html: takeNestEggExpand} },
      { value: "take adults", text: "Take adults", conditional: {html: takeNestEggExpand} },
      { value: "kill-chicks", text: "Kill chicks", conditional: {html: takeNestEggExpand} },
      { value: "kill-adults", text: "Kill adults", conditional: {html: takeNestEggExpand} },
      { value: "disturb", text: "Disturb", conditional: {html: takeNestEggExpand} },
      { value: "Obstruct access to sett", text: "Obstruct access to sett", conditional: {html: takeNestEggExpand} },
      { value: "Damage sett", text: "Damage sett", conditional: {html: takeNestEggExpand} },
      { value: "Destroy sett", text: "Destroy sett", conditional: {html: takeNestEggExpand} },
      { value: "dam removal", text: "Dam removal" },
      { value: "dam notching", text: "Dam notching" },
      { value: "damage to lodge or natal burrow", text: "Damage to lodge or natal burrow" },
      { value: "destroy-lodge-or-natal-burrow", text: "Destroy lodge or natal burrow" },
      { value: "trapping", text: "Trapping" },
      { value: "lethal-control", text: "Lethal control" },
      { value: "obstruct-access-to-place-of-shelter-or-protection", text: "Obstruct access to place of shelter" },
      { value: "damage-place-of-shelter-or-protection", text: "Damage place of shelter" },
      { value: "destroy-place-of-shelter-or-protection", text: "Destroy place of shelter" }
      ] %}

    {% if data['speciesSelection'] == 'badgers' %}
      {% set radioOptions = [activityOptions[5], activityOptions[6], activityOptions[7], activityOptions[8]] %}
      {% elif data['speciesSelection'] == 'pine martens' %}
     {% set radioOptions = [activityOptions[1], activityOptions[5], activityOptions[15], activityOptions[16], activityOptions[17], activityOptions[18]] %}
    {% endif %}
      

      {{ govukCheckboxes({
        name: "activities-required",
        fieldset: {
          legend: {
            html: data['settID'] + ": What activities do you require?",
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: radioOptions
      }) }}

  


    {{ govukButton({
      text: "Continue",
      preventDoubleClick: true
      }) }}

{% endblock %}