{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="/activities-badger-additional">

    <h1 class="govuk-heading-l">What are the sett details?</h1>

    {{ govukInput({
      label: {
        text: "Sett ID",
        classes: "govuk-label--s"
      },
        hint: {
          text: "The name of this sett on the site. e.g. 123, ABC or West Gate"
        },
      id: "settID",
      name: "settID",
      spellcheck: false,
      value: "2"
    }) }}


    {{ govukInput({
      label: {
        text: "Grid Reference",
        classes: "govuk-label--s"
      },
        hint: {
          text: "An 8 or 10 digit grid reference. e.g. NH 6381 4403 or NO 08529 29128."
        },
      id: "gridRef",
      name: "gridRef",
      spellcheck: false,
      value: "NH 6331 4427"
    }) }}

    {{ govukInput({
      label: {
        text: "Number of Entrances",
        classes: "govuk-label--s"
      },
        hint: {
          text: "How many entrances this sett has."
        },
      id: "NumEntrance",
      name: "NumEntrance",
      spellcheck: false,
      value: "6"
    }) }}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "previousLicence",
      name: "previousLicence",
      fieldset: {
        legend: {
          text: "Is it a breeding sett?",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          checked: previousLicence === true
        },
        {
          value: "no",
          text: "No",
          checked: previousLicence === false
        }
      ]
    }) }}


    {{ govukButton({
      text: "Continue",
      preventDoubleClick: true
      }) }}

{% endblock %}