{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ data['isLicenceRequired'] | default("You haven't selected a") }} {{ 'licence' }}</h1>

    <h2 class="govuk-heading-m">Before you start</h2>      

    {% if data['isLicenceRequired'] == 'Prevent serious damage' %}

    <p class="govuk-body">You will require a prevent serious damage licence if you need to control wild birds to prevent serious damage to livestock, foodstuffs for
      livestock, crops, vegetables, fruit, growing timber, fisheries or inland waters. ​</p>


    <p class="govuk-body">
      To complete this application we will ask you about:​
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        the species and numbers causing damage
      </li>
      <li>
        the serious damage being caused
      </li>
      <li>
        the location of where damage is occurring
      </li>
      <li>
        when damage is occurring
      </li>
      <li>
        what preventative measures you have tried or intend to try
      </li>
    </ul>
    <p class="govuk-body">
      You may need to upload a map or diagram showing where the damage is taking place or other documentation in support of your application.
      </a>
    </p>
    
    <p class="govuk-body">
      We advise you to read the relevant section of our website for further details of what information is required for the type of licence you are applying for.
      </a>
    </p>

    <p class="govuk-body">
      <a class="govuk-link"
        href="https://www.nature.scot/professional-advice/protected-areas-and-species/licensing/species-licensing-z-guide/birds/birds-licences-prevent-serious-damage"
        target="_blank">
        Birds
      </a>
    </p>

    <p class="govuk-body">
      <a class="govuk-link"
        href="https://www.nature.scot/professional-advice/protected-areas-and-species/licensing/species-licensing-z-guide/badgers/badgers-licences-prevent-serious-damage"
        target="_blank">
        Badgers
      </a>
    </p>

    <p class="govuk-body">
      <a class="govuk-link"
        href="https://www.nature.scot/professional-advice/protected-areas-and-species/licensing/species-licensing-z-guide/hares-and-licensing"
        target="_blank">
        Hares
      </a>
    </p>

    <p class="govuk-body">
      <a class="govuk-link"
        href="https://www.nature.scot/professional-advice/protected-areas-and-species/licensing/species-licensing-z-guide/beavers/beavers-licenses-land-management"
        target="_blank">
        Beavers
      </a>
    </p>

    <p class="govuk-body">
      <a class="govuk-link"
        href="https://www.nature.scot/professional-advice/protected-areas-and-species/licensing/species-licensing-z-guide"
        target="_blank">
        Other animals
      </a>
    </p>
    

    {% elseif data['isLicenceRequired'] == 'Public health and safety' %}

    <p class="govuk-body">You will require a public health and safety licence where wild birds pose a threat to public health or safety and there is no satisfactory
      alternative, we may issue a licence to permit certain actions that might otherwise constitute an offence. ​
    </p>

    <p class="govuk-body">
      To complete this application we will ask you about:​
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        the specific health or safety issue
      </li>
      <li>
        what preventative measures you have tried and intend to try
      </li>
      <li>
        the licensed activities you are planning
      </li>
    </ul>
    <p class="govuk-body">
      Depending on which licensed activities you select, we will ask you about:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        nest or egg destruction - an estimated number of nests
      </li>
      <li>
        relocating chicks or lethal control - exact numbers
      </li>
    </ul>

    {% elseif data['isLicenceRequired'] == 'Air safety' %}

    <p class="govuk-body">You will require a air safety licence if wild birds pose a threat to air safety and there is no satisfactory alternative, we
      may issue a licence to permit certain actions that might otherwise constitute an offence.</p>

    <p class="govuk-body">
      To complete this application we will ask you about:​
    </p>


    <ul class="govuk-list govuk-list--bullet">
      <li>
        all the good things
      </li>
      <li>
        we require to
      </li>
      <li>
        consider issuing a
      </li>
      <li>
        air safety licence
      </li>
    </ul>

    <p class="govuk-body">
      .... not to mention anything else we need.
    </p>
    {% endif %}


    {{ govukWarningText({
    text: "Make sure you have the necessary information to hand before you start your application — you will not be able
    to save and return to it at a later date.",
    iconFallbackText: "Fallback text"
    }) }}


    <form method="post" action="/about">

      {{ govukButton({
      text: "Start now",
      isStartButton: true,
      preventDoubleClick: true
      }) }}


  </div>

  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}