{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Check your answers before sending your application
    </h1>

    {{ govukWarningText({
    text: "Check your answers carefully before submitting an ensure all contact details are correct. If any details are
    incorrect it will delay the processing of the application.",
    iconFallbackText: "Fallback text"
    }) }}

    <form method="post" action="/success">

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      <h1 class="govuk-heading-m">
        Licence purpose
      </h1>

      {{ govukSummaryList({
      rows: [
      {
      key: {
      text: "Licence required"
      },
      value: {
      text: data['isLicenceRequired']
      },
      actions: {
      items: [
      {
      href: "/licence-required",
      text: "Change",
      visuallyHiddenText: "name"
      }
      ]
      }
      }
      ]
      }) }}

      {% if data['isLicenceHolder'] == 'no' %}

      <h1 class="govuk-heading-m">
        Applicant details
      </h1>

      {{ govukSummaryList({
      rows: [
      {
      key: {
      text: "Name"
      },
      value: {
      text: data['applicant-full-name']
      },
      actions: {
      items: [
      {
      href: "#",
      text: "Change",
      visuallyHiddenText: "name"
      }
      ]
      }
      },
      {
      key: {
      text: "Organisation"
      },
      value: {
      text: data['applicant-org']
      },
      actions: {
      items: [
      {
      href: "#",
      text: "Change",
      visuallyHiddenText: "date of birth"
      }
      ]
      }
      },
      {
      key: {
      text: "Email address"
      },
      value: {
      html: data['applicant-email']
      },
      actions: {
      items: [
      {
      href: "#",
      text: "Change",
      visuallyHiddenText: "address"
      }
      ]
      }
      },
      {
      key: {
      text: "Phone number"
      },
      value: {
      html: data['applicant-telephone']
      },
      actions: {
      items: [
      {
      href: "#",
      text: "Change",
      visuallyHiddenText: "contact details"
      }
      ]
      }
      }
      ]
      }) }}

      {% endif %}

      {% if data['isLicenceHolder'] == 'yes' %}
      <h1 class="govuk-heading-m">
        Your details
      </h1>
      {% elseif data['isLicenceHolder'] == 'no' %}
      <h1 class="govuk-heading-m">
        Licence holder details
      </h1>
      {% endif %}

      {{ govukSummaryList({
      rows: [
      {
      key: {
      text: "Name"
      },
      value: {
      text: data['holder-full-name']
      },
      actions: {
      items: [
      {
      href: "/licence-holder-details",
      text: "Change",
      visuallyHiddenText: "name"
      }
      ]
      }
      },
      {
      key: {
      text: "Organisation"
      },
      value: {
      text: data['holder-org']
      },
      actions: {
      items: [
      {
      href: "/licence-holder-details",
      text: "Change",
      visuallyHiddenText: "date of birth"
      }
      ]
      }
      },
      {
      key: {
      text: "Email address"
      },
      value: {
      html: data['holder-email']
      },
      actions: {
      items: [
      {
      href: "/licence-holder-details",
      text: "Change",
      visuallyHiddenText: "address"
      }
      ]
      }
      },
      {
      key: {
      text: "Phone number"
      },
      value: {
      html: data['holder-telephone']
      },
      actions: {
      items: [
      {
      href: "/licence-holder-details",
      text: "Change",
      visuallyHiddenText: "contact details"
      }
      ]
      }
      },
      {
      key: {
      text: "Postcode"
      },
      value: {
      html: data['postcode']
      },
      actions: {
      items: [
      {
      href: "/postcode",
      text: "Change",
      visuallyHiddenText: "contact details"
      }
      ]
      }
      },
      {
      key: {
      text: "Address"
      },
      value: {
      html: data['holder-address']
      },
      actions: {
      items: [
      {
      href: "/choose-address",
      text: "Change",
      visuallyHiddenText: "contact details"
      }
      ]
      }
      }
      ]
      }) }}



      <h1 class="govuk-heading-m">
        Site Address
      </h1>

      {% if data['isSiteAddress'] == 'yes' %}

 {{ govukSummaryList({
      rows: [
      {
      key: {
      text: "Same as licence holder address?"
      },
      value: {
      html: data['isSiteAddress'].charAt(0).toUpperCase() + data['isSiteAddress'].slice(1)
      },
      actions: {
      items: [
      {
      href: "/site-address",
      text: "Change",
      visuallyHiddenText: "name"
      }
      ]
      }
      }
      ]
      }) }}


      {% elseif data['isSiteAddress'] == 'no' %}

 {{ govukSummaryList({
      rows: [
      {
      key: {
      text: "Same as licence holder address?"
      },
      value: {
      html: data['isSiteAddress'].charAt(0).toUpperCase() + data['isSiteAddress'].slice(1)
      },
      actions: {
      items: [
      {
      href: "/site-address",
      text: "Change",
      visuallyHiddenText: "name"
      }
      ]
      }
      },
      {
      key: {
      text: "Site postcode"
      },
      value: {
      text: data['postcode']
      },
      actions: {
      items: [
      {
      href: "#",
      text: "Change",
      visuallyHiddenText: "date of birth"
      }
      ]
      }
      },
      {
      key: {
      text: "Address"
      },
      value: {
      html: data['site-address']
      },
      actions: {
      items: [
      {
      href: "#",
      text: "Change",
      visuallyHiddenText: "contact details"
      }
      ]
      }
      }
      ]
      }) }}
      {% endif %}


      <h1 class="govuk-heading-m">
        Licence details
      </h1>

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "What do you require a licence for?"
            },
            value: {
            text: data['speciesSelection'].charAt(0).toUpperCase() + data['speciesSelection'].slice(1)
            },
            actions: {
            items: [
            {
            href: "/species-selection",
            text: "Change",
            visuallyHiddenText: "date of birth"
            }
            ]
            }
            },
            {
            key: {
            text: "How many " + data['speciesSelection'] + " are causing or likely to cause problems?"
            },
            value: {
            html: data['num-of-species']
            },
            actions: {
            items: [
            {
            href: "/number-of-species",
            text: "Change",
            visuallyHiddenText: "contact details"
            }
            ]
            }
            }
        ]
        }) }}


        <h1 class="govuk-heading-m">
          Previous licence
        </h1>

        {% if data['previousLicence'] == 'yes' %}
  
        {{ govukSummaryList({
          rows: [
          {
            key: {
              text: "Did this property previously have a licence?"
              },
              value: {
              text: data['previousLicence'].charAt(0).toUpperCase() + data['previousLicence'].slice(1)
              },
              actions: {
              items: [
              {
              href: "/previous-licence",
              text: "Change",
              visuallyHiddenText: "date of birth"
              }
              ]
              }
              },
              {
              key: {
              text: "What was the most recent licence number?"
              },
              value: {
              html: data['previous-licence']
              },
              actions: {
              items: [
              {
              href: "/previous-licence-number",
              text: "Change",
              visuallyHiddenText: "contact details"
              }
              ]
              }
              }
          ]
          }) }}
  
  
        {% elseif data['previousLicence'] == 'no' %}

        {{ govukSummaryList({
          rows: [
          {
            key: {
              text: "Did this property previously have a licence?"
              },
              value: {
              text: data['previousLicence'].charAt(0).toUpperCase() + data['previousLicence'].slice(1)
              },
              actions: {
              items: [
              {
              href: "/previous-licence",
              text: "Change",
              visuallyHiddenText: "date of birth"
              }
              ]
              }
              }
          ]
          }) }}
  
        {% endif %}


        <h1 class="govuk-heading-m">
          Supporting information
        </h1>
  
        {{ govukSummaryList({
          rows: [
          {
            key: {
              text: "Enter any further information you need to tell us"
              },
              value: {
              text: data['supporting-info']
              },
              actions: {
              items: [
              {
              href: "/supporting-info",
              text: "Change",
              visuallyHiddenText: "date of birth"
              }
              ]
              }
              }
          ]
          }) }}


        

      {{ govukButton({
      text: "Accept and send",
      isStartButton: false,
      preventDoubleClick: true
      }) }}

    </form>

  </div>
</div>

{% endblock %}