{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="/site-address">

      {% if data['isLicenceHolder'] == 'yes' %}

      <h1 class="govuk-heading-l">
        Select your address
      </h1>

      {% elseif data['isLicenceHolder'] == 'no' %}

      <h1 class="govuk-heading-l">
        Select the licence holder's address
      </h1>

      {% endif %}

      {% from "govuk/components/select/macro.njk" import govukSelect %}

      {{ govukSelect({
      id: "holder-address",
      name: "holder-address",
      label: {
      text: ""
      },
      hint: {
      text: "Address"
      },
      items: [
      {
      value: "Gateside, 1A Leachkin Road, Inverness",
      text: "Gateside, 1A Leachkin Road, Inverness",
      selected: true
      },
      {
      value: "Orcadia, 1B Leachkin Road, Inverness",
      text: "Orcadia, 1B Leachkin Road, Inverness"
      },
      {
      value: "2 Leachkin Road, Inverness",
      text: "2 Leachkin Road, Inverness"
      },
      {
      value: "4 Leachkin Road, Inverness",
      text: "4 Leachkin Road, Inverness"
      },
      {
      value: "Burnside, Leachkin Road, Inverness",
      text: "Burnside, Leachkin Road, Inverness"
      },
      {
      value: "Naturescot, Naturescot, Great Glen House, Leachkin Road, Inverness",
      text: "Naturescot, Naturescot, Great Glen House, Leachkin Road, Inverness"
      },
      {
      value: "Old Post Office, Leachkin Road, Inverness",
      text: "Old Post Office, Leachkin Road, Inverness"
      }
      ]

      }) }}

      {{ govukButton({
      text: "Continue",
      preventDoubleClick: true
      }) }}

    </form>

    <form method="post" action="/manual-address">

      {{ govukButton({
      text: "Address not found",
      isStartButton: false,
      preventDoubleClick: true,
      classes: "govuk-button--secondary"
      }) }}

    </form>

  </div>
</div>

{% endblock %}