{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        When is damage occurring or is likely to occur?
      </h1>

      <form method="post" action="/preventative-measures-tried">

        {{ govukSelect({
          id: "start-month",
          name: "start-month",
          label: {
            text: "Start month"
          },
          items: [
          {
            value: "00",
            text: "Select a month"
          },
          {
              value: "01",
              text: "January"
            },
            {
              value: "02",
              text: "February",
              selected: true
            },
            {
              value: "03",
              text: "March"
            },
            {
              value: "04",
              text: "April"
            },
            {
              value: "05",
              text: "May"
            },
            {
              value: "06",
              text: "June"
            },
            {
              value: "07",
              text: "July"
            },
            {
              value: "08",
              text: "August"
            },
            {
              value: "09",
              text: "September"
            },
            {
              value: "10",
              text: "October"
            },
            {
              value: "11",
              text: "November"
            },
            {
              value: "12",
              text: "December"
            }
          ]
        }) }}

        {{ govukSelect({
          id: "end-month",
          name: "end-month",
          label: {
            text: "End month"
          },
          items: [
            {
              value: "00",
              text: "Select a month"
            },
            {
              value: "01",
              text: "January"
            },
            {
              value: "02",
              text: "February"
            },
            {
              value: "03",
              text: "March"
            },
            {
              value: "04",
              text: "April"
            },
            {
              value: "05",
              text: "May"
            },
            {
              value: "06",
              text: "June"
            },
            {
              value: "07",
              text: "July",
              selected: true
            },
            {
              value: "08",
              text: "August"
            },
            {
              value: "09",
              text: "September"
            },
            {
              value: "10",
              text: "October"
            },
            {
              value: "11",
              text: "November"
            },
            {
              value: "12",
              text: "December"
            }
          ]
        }) }}
    
        {{ govukButton({
          text: "Continue",
          isStartButton: false,
          preventDoubleClick: true
        }) }}
    
      </form>

    </div>
  </div>

{% endblock %}