{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Upload your files
    </h1>

    <form method="post" action="/supporting-info">

      <p class="govuk-body">
        Continue to upload the following documents:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          a map or diagram clearly showing the boundary of the fishery and area within which shooting is to take place
        </li>
        <li>
          a fish-eating bird management plan
        </li>
        <li>
          bird count data for the last year
        </li>
      </ul>

      {{ govukButton({
      text: "Continue",
      isStartButton: false,
      preventDoubleClick: true
      }) }}

    </form>

  </div>
</div>

{% endblock %}