{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Licensing</h1>

    <h2 class="govuk-heading-m">Applying for a licence</h2>

    <p class="govuk-body">
      Before applying to us for a licence, read our general information about the <a href="https://www.nature.scot/professional-advice/protected-areas-and-species/licensing/licensing-process" target="_blank">licensing process.</a>
    </p>

    <p class="govuk-body">
      Explore our <a href="https://www.nature.scot/professional-advice/protected-areas-and-species/licensing/species-licensing-z-guide" target="_blank">A–Z guide</a> to find out about licensing for a specific protected species, including how to apply for each type of licence.
    </p>

    <p class="govuk-body">
      We advise that you read the relevant <a href="https://www.nature.scot/professional-advice/planning-and-development/planning-and-development-advice/planning-and-development-standing-advice-and-guidance-documents" target="_blank">standing advice</a> relating to planning and development if applicable.
    </p>

    <p class="govuk-body">
    We may need to pass your application on to relevant partner agencies who may contact you to discuss or arrange a site visit.</p>
  </p>

    <h2 class="govuk-heading-m">Renewing a licence</h2>

    <p class="govuk-body">
      You must apply for a new licence annually for a site, rather than request a renewal. You must have submitted a return for your previous licence before we will consider issuing a new one.
    </p>

    <form method="post" action="/licence-required">

      {{ govukButton({
      text: "Online Licensing System",
      isStartButton: false,
      preventDoubleClick: true
      }) }}

    </form>

    <p class="govuk-body">
      If you need assistance with this service, contact the NatureScot Licensing Team.
    </p>

    <h3 class="govuk-heading-s">
      Email
    </h3>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="mailto:licensing@nature.scot">
          licensing@nature.scot
        </a>
      </li>
      <li>
        We aim to respond within 2 working days.
      </li>
    </ul>

    <h3 class="govuk-heading-s">
      Telephone
    </h3>

    <ul class="govuk-list">
      <li>
        01463 725 364
      </li>
      <li>
        Voicemail service. We aim to respond within 2 working days.
      </li>
    </ul>

    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/call-charges" target="_blank">
        Find out about call charges
      </a>
    </p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}