{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="/licence-required-selection">

      <h1 class="govuk-heading-l">Online licensing system</h1>

      {% from "govuk/components/select/macro.njk" import govukSelect %}

      {{ govukSelect({
      id: "isLicenceRequired",
      name: "isLicenceRequired",
      label: {
      text: "Select the licenced purpose you require"
      },
      items: [
      {
      value: "select",
      text: "Click here to select",
      selected: true
      },{
      value: "Prevent serious damage",
      text: "Prevent serious damage"
      },
      {
      value: "Public health and safety",
      text: "Public health and safety"
      },
      {
      value: "Air safety",
      text: "Air safety"
      },
      {
        value: "Gulls Public health and safety",
        text: "Gulls Public health and safety"
      },
      {
        value: "Standard Forestry Operations",
        text: "Standard Forestry Operations"
      },
      {
        value: "Trap registrations",
        text: "Trap registrations"
      }
    ]
  }) }}
      

      <div id="prevent-serious-damage-info" style="display:none;">
        <h2 class="govuk-heading-m">Do you need a prevent serious damage licence?</h2>
        <p class="govuk-body">If you need to control wild birds to prevent serious damage to livestock, foodstuffs for
          livestock, crops, vegetables, fruit, growing timber, fisheries or inland waters. ​</p>
      </div>

      <div id="public-health-and-safety-info" style="display:none;">
        <h2 class="govuk-heading-m">Do you need a public health and safety licence?</h2>
        <p class="govuk-body">Where wild birds pose a threat to public health or safety and there is no satisfactory
          alternative, we may issue a licence to permit certain actions that might otherwise constitute an offence. ​
        </p>
      </div>

      <div id="air-safety-info" style="display:none;">
        <h2 class="govuk-heading-m">Do you need a air safety licence?</h2>
        <p class="govuk-body">Where wild birds pose a threat to air safety and there is no satisfactory alternative, we
          may issue a licence to permit certain actions that might otherwise constitute an offence.</p>
      </div>

      <div id="gulls-public-health-and-safety-info" style="display:none;">
        <h2 class="govuk-heading-m">Do you need a gulls public health and safety licence?</h2>
        <p class="govuk-body">If you need to control wild birds to prevent serious damage to livestock, foodstuffs for
          livestock, crops, vegetables, fruit, growing timber, fisheries or inland waters. ​</p>
          {{ govukWarningText({
            text: "You will be taken to a seperate online application. If you need a difference licence type you will need to return the the online licensing system to apply.",
            iconFallbackText: "Fallback text"
            }) }}
      </div>

      <div id="sfo-info" style="display:none;">
        <h2 class="govuk-heading-m">Do you need a standard forestry operations licence?</h2>
        <p class="govuk-body">Where wild birds pose a threat to public health or safety and there is no satisfactory
          alternative, we may issue a licence to permit certain actions that might otherwise constitute an offence. ​
        </p>
        {{ govukWarningText({
          text: "You will be taken to a seperate online application. If you need a difference licence type you will need to return the the online licensing system to apply.",
          iconFallbackText: "Fallback text"
          }) }}
      </div>

      <div id="traps-info" style="display:none;">
        <h2 class="govuk-heading-m">Do you need to register a trap?</h2>
        <p class="govuk-body">Where wild birds pose a threat to air safety and there is no satisfactory alternative, we
          may issue a licence to permit certain actions that might otherwise constitute an offence.</p>
          {{ govukWarningText({
            text: "You will be taken to a seperate online application. If you need a difference licence type you will need to return the the online licensing system to apply.",
            iconFallbackText: "Fallback text"
            }) }}
      </div>

      <script>
        var licenceSelect = document.getElementById('isLicenceRequired');
        var preventSeriousDamageInfo = document.getElementById('prevent-serious-damage-info');
        var publicHealthAndSafetyInfo = document.getElementById('public-health-and-safety-info');
        var airSafetyInfo = document.getElementById('air-safety-info');
        var gullsPublicHealthAndSafetyInfo = document.getElementById('gulls-public-health-and-safety-info');
        var sfoInfo = document.getElementById('sfo-info');
        var trapsInfo = document.getElementById('traps-info');
      
        licenceSelect.addEventListener('change', function () {
          if (licenceSelect.value === 'Prevent serious damage') {
            preventSeriousDamageInfo.style.display = 'block';
            publicHealthAndSafetyInfo.style.display = 'none';
            airSafetyInfo.style.display = 'none';
            gullsPublicHealthAndSafetyInfo.style.display = 'none';
            sfoInfo.style.display = 'none';
            trapsInfo.style.display = 'none';
      
          } else if (licenceSelect.value === 'Public health and safety') {
            preventSeriousDamageInfo.style.display = 'none';
            publicHealthAndSafetyInfo.style.display = 'block';
            airSafetyInfo.style.display = 'none';
            gullsPublicHealthAndSafetyInfo.style.display = 'none';
            sfoInfo.style.display = 'none';
            trapsInfo.style.display = 'none';
      
          } else if (licenceSelect.value === 'Air safety') {
            preventSeriousDamageInfo.style.display = 'none';
            publicHealthAndSafetyInfo.style.display = 'none';
            airSafetyInfo.style.display = 'block';
            gullsPublicHealthAndSafetyInfo.style.display = 'none';
            sfoInfo.style.display = 'none';
            trapsInfo.style.display = 'none';
      
          } else if (licenceSelect.value === 'Gulls Public health and safety') {
            preventSeriousDamageInfo.style.display = 'none';
            publicHealthAndSafetyInfo.style.display = 'none';
            airSafetyInfo.style.display = 'none';
            gullsPublicHealthAndSafetyInfo.style.display = 'block';
            sfoInfo.style.display = 'none';
            trapsInfo.style.display = 'none';
      
          } else if (licenceSelect.value === 'Standard Forestry Operations') {
            preventSeriousDamageInfo.style.display = 'none';
            publicHealthAndSafetyInfo.style.display = 'none';
            airSafetyInfo.style.display = 'none';
            gullsPublicHealthAndSafetyInfo.style.display = 'none';
            sfoInfo.style.display = 'block';
            trapsInfo.style.display = 'none';
      
          } else if (licenceSelect.value === 'Trap registrations') {
            preventSeriousDamageInfo.style.display = 'none';
            publicHealthAndSafetyInfo.style.display = 'none';
            airSafetyInfo.style.display = 'none';
            gullsPublicHealthAndSafetyInfo.style.display = 'none';
            sfoInfo.style.display = 'none';
            trapsInfo.style.display = 'block';

          } else {
            preventSeriousDamageInfo.style.display = 'none';
            publicHealthAndSafetyInfo.style.display = 'none';
            airSafetyInfo.style.display = 'none';
            gullsPublicHealthAndSafetyInfo.style.display = 'none';
            sfoInfo.style.display = 'none';
            trapsInfo.style.display = 'none';
          }

        });
      </script>


      {{ govukButton({
      text: "Continue",
      isStartButton: false,
      preventDoubleClick: true,
      id: "start-button"
      }) }}
    </form>



  </div>

  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}