{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  {% if data['speciesSelection'] == 'badgers' %}

    <h1 class="govuk-heading-l">
      Where are the setts?
    </h1>
    <form method="post">
      <div class="govuk-grid-row">
    
        <div class="govuk-grid-column-full" id="sett-details">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Sett ID</th>
                <th scope="col" class="govuk-table__header">Grid Reference</th>
                <th scope="col" class="govuk-table__header">Entrances</th>
                <th scope="col" class="govuk-table__header">Breeding Sett</th>
                <th scope="col" class="govuk-table__header">Activities</th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
    
              <tbody class="govuk-table__body">
    
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">1</th>
                  <td class="govuk-table__cell">NH 6381 4403</td>
                  <td class="govuk-table__cell">1</td>
                  <td class="govuk-table__cell">Yes</td>
                  <td class="govuk-table__cell">Disturb</td>
                  <td class="govuk-table__cell">
    
                    <button name="edit-0" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Edit
                    </button>
    
                    <button name="delete-0" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Delete
                    </button>
    
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">2</th>
                  <td class="govuk-table__cell">NH 6331 4427</td>
                  <td class="govuk-table__cell">6</td>
                  <td class="govuk-table__cell">Yes</td>
                  <td class="govuk-table__cell">Disturb<br>Damage sett</td>
                  <td class="govuk-table__cell">
    
                    <button name="edit-0" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Edit
                    </button>
    
                    <button name="delete-0" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Delete
                    </button>
    
                  </td>
                </tr>
    
              </tbody>
    
            </thead>
            <tbody class="govuk-table__body">
              {% for sett in model.setts %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{ sett.id | safe }}</th>
                <td class="govuk-table__cell">{{ sett.gridReference }}</td>
                <td class="govuk-table__cell">{{ sett.entrances }}</td>
                <td class="govuk-table__cell">
                  {{ govukButton({
                    text: "Edit",
                    name: "edit-" + loop.index0,
                    classes: "govuk-button--secondary"
                  }) }}
                  {{ govukButton({
                    text: "Delete",
                    name: "delete-" + loop.index0,
                    classes: "govuk-button--secondary"
                  }) }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    
          <form method="post">
            {{ govukButton({
              text: "Add a sett",
              href: "#",
              classes: "govuk-button--secondary naturescot-button--add",
              isStartButton: false
            }) }}
          </form>
    
          <br>
          <label class="govuk-label" for="map-preview-container">
            Map Preview
          </label>
    
          <img src="/public/images/map-preview.png">
          <br
    
          <form method="post">
            {{ govukButton({
              text: "Continue",
              href: "/type-of-damage",
              classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8 naturescot-forward-button",
              isStartButton: false
            }) }}
          </form>
    
        </form>

        {% elif data['speciesSelection'] == 'pine martens' %}

        <h1 class="govuk-heading-l">
          Where are the shelters?
        </h1>
        <form method="post">
          <div class="govuk-grid-row">
        
            <div class="govuk-grid-column-full" id="sett-details">
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Shelter ID</th>
                    <th scope="col" class="govuk-table__header">Grid Reference</th>
                    <th scope="col" class="govuk-table__header">Entrances</th>
                    <th scope="col" class="govuk-table__header">Breeding Sett</th>
                    <th scope="col" class="govuk-table__header">Activities</th>
                    <th scope="col" class="govuk-table__header"></th>
                  </tr>
        
                  <tbody class="govuk-table__body">
        
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">1</th>
                      <td class="govuk-table__cell">NH 6381 4403</td>
                      <td class="govuk-table__cell">1</td>
                      <td class="govuk-table__cell">Yes</td>
                      <td class="govuk-table__cell">Disturb</td>
                      <td class="govuk-table__cell">
        
                        <button name="edit-0" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                          Edit
                        </button>
        
                        <button name="delete-0" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                          Delete
                        </button>
        
                      </td>
                    </tr>
    
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">2</th>
                      <td class="govuk-table__cell">NH 6331 4427</td>
                      <td class="govuk-table__cell">6</td>
                      <td class="govuk-table__cell">Yes</td>
                      <td class="govuk-table__cell">Disturb<br>Damage sett</td>
                      <td class="govuk-table__cell">
        
                        <button name="edit-0" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                          Edit
                        </button>
        
                        <button name="delete-0" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                          Delete
                        </button>
        
                      </td>
                    </tr>
        
                  </tbody>
        
                </thead>
                <tbody class="govuk-table__body">
                  {% for sett in model.setts %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">{{ sett.id | safe }}</th>
                    <td class="govuk-table__cell">{{ sett.gridReference }}</td>
                    <td class="govuk-table__cell">{{ sett.entrances }}</td>
                    <td class="govuk-table__cell">
                      {{ govukButton({
                        text: "Edit",
                        name: "edit-" + loop.index0,
                        classes: "govuk-button--secondary"
                      }) }}
                      {{ govukButton({
                        text: "Delete",
                        name: "delete-" + loop.index0,
                        classes: "govuk-button--secondary"
                      }) }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        
              <form method="post">
                {{ govukButton({
                  text: "Add a sett",
                  href: "#",
                  classes: "govuk-button--secondary naturescot-button--add",
                  isStartButton: false
                }) }}
              </form>
        
              <br>
              <label class="govuk-label" for="map-preview-container">
                Map Preview
              </label>
        
              <img src="/public/images/map-preview.png">
              <br
        
              <form method="post">
                {{ govukButton({
                  text: "Continue",
                  href: "/type-of-damage",
                  classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8 naturescot-forward-button",
                  isStartButton: false
                }) }}
              </form>
        
            </form>

            {% endif %}


  </div>
</div>

{% endblock %}