{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <h1 class="govuk-heading-l">
        How many {{ data['speciesSelection'].charAt(0).toUpperCase() + data['speciesSelection'].slice(1) }} are causing or likely to cause problems?
      </h1> -->

    <form method="post" action="/type-of-damage">

      <h1 class="govuk-heading-l">
        How many {{ data['speciesSelection'] }} are causing or likely to cause problems?
      </h1>

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {% if data['speciesSelection'] == 'ravens' %}
        {{ govukInput({
          label: {
            text: "Number of " + data['speciesSelection']
          },
          id: "num-of-ravens",
          name: "num-of-ravens",
          value: data['num-of-ravens']
        }) }}
      
      {% elseif data['speciesSelection'] == 'geese' %}
        {% for subSpecies in ['pink-footed-goose', 'barnacle-goose'] %}
          {% if subSpecies in data['sub-species-selection'] %}
            {{ govukInput({
              label: {
                text: "Number of " + subSpecies|replace('pink-footed-goose', 'pink-footed geese')|replace('barnacle-goose', 'barnacle geese')
              },
              id: "num-of-" + subSpecies,
              name: "num-of-" + subSpecies,
              value: data['num-of-' + subSpecies]
            }) }}
          {% endif %}
        {% endfor %}

        {% elseif data['speciesSelection'] == 'gulls' %}
  {% for subSpecies in ['great-black-backed-gull', 'herring-gull', 'lesser-black-backed-gull', 'common-gull', 'black-headed-gull'] %}
    {% if subSpecies in data['sub-species-selection'] %}
      {{ govukInput({
        label: {
          text: "Number of " + subSpecies|replace('-', ' ')
        },
        id: "num-of-" + subSpecies,
        name: "num-of-" + subSpecies,
        value: data['num-of-' + subSpecies]
      }) }}
    {% endif %}
  {% endfor %}

  {% elseif data['speciesSelection'] == 'fish-eating birds' %}
  {% for subSpecies in ['cormorant', 'goosander', 'grey-heron', 'red-breasted-merganser'] %}
    {% if subSpecies in data['sub-species-selection'] %}
      {{ govukInput({
        label: {
          text: "Number of " + subSpecies|replace('-', ' ')
        },
        id: "num-of-" + subSpecies,
        name: "num-of-" + subSpecies,
        value: data['num-of-' + subSpecies]
      }) }}
    {% endif %}
  {% endfor %}

  {% elseif data['speciesSelection'] == 'other birds' %}
  {% for subSpecies in ['canada-goose', 'carrion-crow', 'feral-pigeon-rock-dove', 'greylag-goose', 'hooded-crow', 'jackdaw', 'magpie', 'pheasant', 'rook', 'starling', 'wigeon', 'woodpigeon'] %}    
  {% if subSpecies in data['sub-species-selection'] %}
      {{ govukInput({
        label: {
          text: "Number of " + subSpecies|replace('canada-goose', 'canada geese')|replace('greylag-goose', 'greylag geese')|replace('feral-pigeon-rock-dove', 'feral pigeon/rock dove')|replace('-', ' ')
        },
        id: "num-of-" + subSpecies,
        name: "num-of-" + subSpecies,
        value: data['num-of-' + subSpecies]
      }) }}
    {% endif %}
  {% endfor %}


  {% elseif data['speciesSelection'] == 'badgers' %}
  {{ govukInput({
    label: {
      text: "Number of " + data['speciesSelection']
    },
    id: "num-of-badgers",
    name: "num-of-badgers",
    value: data['num-of-badgers']
  }) }}

  {% elseif data['speciesSelection'] == 'hares' %}
  {% for subSpecies in ['brown-hare', 'mountain-hare'] %}
    {% if subSpecies in data['sub-species-selection'] %}
      {{ govukInput({
        label: {
          text: "Number of " + subSpecies|replace('-', ' ')
        },
        id: "num-of-" + subSpecies,
        name: "num-of-" + subSpecies,
        value: data['num-of-' + subSpecies]
      }) }}
    {% endif %}
  {% endfor %}

        {% elseif data['speciesSelection'] == 'beavers' %}
        {{ govukInput({
          label: {
            text: "Number of " + data['speciesSelection']
          },
          id: "num-of-beavers",
          name: "num-of-beavers",
          value: data['num-of-beavers']
        }) }}
      
      {% endif %}

      
      


      {{ govukButton({
      text: "Continue",
      preventDoubleClick: true
      }) }}

    </form>

  </div>
</div>

{% endblock %}