{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <h1 class="govuk-heading-l">
        How many {{ data['speciesSelection'].charAt(0).toUpperCase() + data['speciesSelection'].slice(1) }} are causing or likely to cause problems?
      </h1> -->

    <form method="post" action="/type-of-damage">

      <h1 class="govuk-heading-l">
        How many {{ data['speciesSelection'] }} are causing or likely to cause problems?
      </h1>

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {% if data['speciesSelection'] == 'ravens' %}
      {{ govukInput({
      label: {
      text: "Number of " + data['speciesSelection']
      },
      id: "num-of-ravens",
      name: "num-of-ravens",
      value: data['num-of-ravens']
      }) }}


      {% elseif data['speciesSelection'] == 'geese' %}

      {% elseif data['speciesSelection'] == 'gulls' %}

      {% elseif data['speciesSelection'] == 'fish-eating birds' %}

      {% elseif data['speciesSelection'] == 'other birds' %}

      {% elseif data['speciesSelection'] == 'badgers' %}
      {{ govukInput({
      label: {
      text: "Number of " + data['speciesSelection']
      },
      id: "num-of-badgers",
      name: "num-of-badgers",
      value: data['num-of-badgers']
      }) }}
      

      {% elseif data['speciesSelection'] == 'hares' %}

      {% elseif data['speciesSelection'] == 'beavers' %}

      {% elseif data['speciesSelection'] == 'beavers' %}

      {% endif %}


      {{ govukButton({
      text: "Continue",
      preventDoubleClick: true
      }) }}

    </form>

  </div>
</div>

{% endblock %}