{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="/licence-holder-details">

      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

      {% call govukFieldset({
      legend: {
      text: "What are your details?",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
      }
      }) %}

      <p>By providing your details, you will receive email notifications regarding this licence application, including
        the determination of the licence.</p>

      <p>We will pass on your details to the proposed licence holder so they know who has submitted an application on
        their behalf.</p>


      {{ govukInput({
      label: {
      text: 'Full name (MUST be a named individual)'
      },
      id: "applicant-full-name",
      name: "applicant-full-name",
      value: data['applicant-full-name']
      }) }}

      {{ govukInput({
      label: {
      text: 'Organisation (optional)'
      },
      id: "applicant-org",
      name: "applicant-org",
      value: data['applicant-org']
      }) }}

      {{ govukInput({
      label: {
      text: "Email address"
      },
      id: "applicant-email",
      name: "applicant-email",
      value: data['applicant-email']
      }) }}

      {{ govukInput({
      label: {
      text: "Telephone number (optional)"
      },
      id: "applicant-telephone",
      name: "applicant-telephone",
      value: data['applicant-telephone']
      }) }}

      {% endcall %}

      {{ govukButton({
      text: "Continue",
      preventDoubleClick: true
      }) }}

    </form>

  </div>
</div>

{% endblock %}