{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/preventative-measures-not-tried">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "preventative_measures-intend",
          fieldset: {
            legend: {
              text: "What preventative measures do you intend to try?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "scaring_devices",
              text: "Scaring devices (static or automatic, visual or audio)",
              checked: true
            },
            {
              value: "Hawking/falconry",
              text: "Hawking/falconry"
            },
            {
              value: "Moving stock/feed",
              text: "Moving stock/feed"
            },
            {
              value: "habitat_management",
              text: "Habitat management (including removal of nesting/burrowing/roosting opportunities)"
            },
            {
              value: "other",
              text: "Other"
            }
          ]
        }) }}

        {{ govukTextarea({
          name: "intend-details",
          id: "intend-details",
          value: data['intend-details'],
          label: {
            text: "Provide details of the measures you intend to try"
          }
        }) }}
        
    
        {{ govukButton({
          text: "Continue",
          isStartButton: false,
          preventDoubleClick: true
        }) }}
    
      </form>

    </div>
  </div>

{% endblock %}