{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/supporting-info">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What was the most recent licence number?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "Enter your reference number, including the prefix if you have one - for example NS-RSD-12345. If you don't know leave this blank."
          },
          id: "previous-licence",
          value: data['previous-licence'],
          name: "previous-licence",
          inputmode: "numeric"
        }) }}

        
        
    
        {{ govukButton({
          text: "Continue",
          isStartButton: false,
          preventDoubleClick: true
        }) }}
    
      </form>

    </div>
  </div>

{% endblock %}