{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ data['prevent-serious-damage'] }}Prevent serious damage licence</h1>
      

      <h2 class="govuk-heading-m">Before you start</h2>
    
      <p class="govuk-body">
        To complete this application we will ask you about:​
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          the species of wild bird
        </li>
        <li>
          the serious damage being caused
        </li>
        <li>
          what preventative measures you have tried or intend
        </li>
        <li>
          the location where the damage is occurring
        </li>
      </ul>

      <p class="govuk-body">
        If wild birds are causing damage to livestock you may need to upload a map or diagram showing where the damage is taking place.
      </p>

      {{ govukWarningText({
        text: "Make sure you have the necessary information to hand before you start your application — you will not be able to save and return to it at a later date.",
        iconFallbackText: "Fallback text"
      }) }}

    
      <form method="post" action="/about">
    
        {{ govukButton({
          text: "Start now",
          isStartButton: true,
          preventDoubleClick: true
        }) }}
    

    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>

{% endblock %}
