{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/preventative-measures-intend">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  name: "preventative_measures-tried",
  fieldset: {
    legend: {
      text: "What preventative measures have you tried?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "physical_prevention",
      text: "Physical prevention",
      checked: true
    },
    {
      value: "removal_of_attractants",
      text: "Removal of attractants",
      checked: true
    },
    {
      value: "disturbance",
      text: "Disturbance",
      checked: true
    },
    {
      value: "scaring_devices",
      text: "Scaring devices (static or automatic, visual or audio)"
    },
    {
      value: "habitat_management",
      text: "Habitat management (including removal of nesting/burrowing/roosting opportunities)"
    },
    {
      value: "other",
      text: "Other"
    }
  ]
}) }}

{{ govukTextarea({
  name: "tried-details",
  id: "tried-details",
  value: data['tried-details'],
  label: {
    text: "Provide details of the measures used including where they were used, their frequency and any success they have had had"
  }
}) }}

    
        {{ govukButton({
          text: "Continue",
          isStartButton: false,
          preventDoubleClick: true
        }) }}
    
      </form>

    </div>
  </div>

{% endblock %}