{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form method="post" action="/species-selection">

        <h1 class="govuk-heading-l">
          Select the site's address
        </h1>
    
        {% from "govuk/components/select/macro.njk" import govukSelect %}

        {{ govukSelect({
          id: "site-address",
          name: "site-address",
          label: {
            text: ""
          },
            hint: {
            text: "Address"
          },
          items: [
            {
              value: "NatureScot (Edinburgh), Silvan House, 3rd Floor East, 231 Corstorphine Road, Murrayfield, Edinburgh",
              text: "NatureScot (Edinburgh), Silvan House, 3rd Floor East, 231 Corstorphine Road, Murrayfield, Edinburgh",
              selected: true
            },
            {
              value: "Forestry Commission, Forestry Commission, 231 Corstorphine Road, Murrayfield, Edinburgh",
              text: "Forestry Commission, Forestry Commission, 231 Corstorphine Road, Murrayfield, Edinburgh"
            }
           ]
        
        }) }}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}
    
      </form>

      <form method="post" action="/manual-address">
    
        {{ govukButton({
          text: "Address not found",
          isStartButton: false,
          preventDoubleClick: true,
          classes: "govuk-button--secondary"
        }) }}
    
      </form>

    </div>
  </div>

{% endblock %}
