{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

<form method="post" action="/species-selection-answer">

{{ govukRadios({
  name: "speciesSelection",
  fieldset: {
    legend: {
      text: "What do you require  a licence for?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
  {
    value: "fish-eating birds",
    text: "Fish-eating birds"
    },
    {
    value: "geese",
    text: "Geese"
    },
    {
    value: "gulls",
    text: "Gulls"
    },
    {
    value: "ravens",
    text: "Ravens"
    },
    {
    value: "other birds",
    text: "Other birds"
    },
    {
    value: "badgers",
    text: "Badgers"
    },
    {
    value: "beavers",
    text: "Beavers"
    },
    {
    value: "hares",
    text: "Hares"
    },
    {
    value: "pine martens",
    text: "Pine martens"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue",
  preventDoubleClick: true
}) }}

</form>


{% endblock %}
