{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<style>
  .govuk-grid-column-one-third {
    background-color: #f2f2f2; /* Grey background color */
    padding: 20px; /* Add padding for better visibility */
  }
</style>

 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukInput({
      id: 'keywords',
      name: 'keywords',
      label: {
        text: 'NatureScot Licensing Staff UI',
        classes: 'govuk-label--l'
      },
      classes: "govuk-input--width-30",
      hint: {
        text: 'Search by reference number, person, or postcode'
      }
    }) }}
  </div>

  <div class="govuk-grid-column-one-third">
    <a href="#">Gulls dashboard (SuperSet login required)</a><br>
    <a href="#">Gulls H&S Licence Guidance</a><br>
    <a href="#">SFO Licence Guidance</a><br>
    <a href="#">Trap Registration Guidance</a><br>
    <a href="#">Management Information</a><br>
  </div>
</div>

      <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">

{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}


  <style>
    .govuk-checkboxes--small label.govuk-checkboxes__label {
      font-size: 15px; /* Change the font size to smaller */
    }
  </style>

{{ govukButton({
  text: "My applications",
  href: "#",
  isStartButton: false
}) }}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  {{ govukCheckboxes({
    idPrefix: 'status',
    name: 'status',
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: 'Status',
        classes: 'govuk-fieldset__legend--s'
      }
    },
    items: [
      {
        value: '1',
        text: 'Unassigned (617)'
      },
      {
        value: '2',
        text: 'Awaiting LH approval (6)',
        checked: true
      },
      {
        value: '3',
        text: 'In progress (377)'
      },
      {
        value: '4',
        text: 'Issued (1250)'
      },
      {
        value: '5',
        text: 'Revoked (10)'
      },
      {
        value: '6',
        text: 'Refused (3)'
      },
      {
        value: '7',
        text: 'Expired (27)'
      }
    ]
  }) }}

  {{ govukCheckboxes({
    idPrefix: 'licence-type',
    name: 'licence-type',
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: 'Licence type',
        classes: 'govuk-fieldset__legend--s'
      }
    },
    items: [
    {
      value: '1',
      text: 'Prevent Serious Damage (64)',
      checked: true
      },
      {
      value: '2',
      text: 'Health and Safety (146)'
      },
      {
      value: '3',
      text: 'Air safety (84)'
      },
      {
      value: '4',
      text: 'Surveys (329)',
      checked: true
      },
      {
      value: '5',
      text: 'Bats in houses (361)'
      },
      {
      value: '6',
      text: 'Works affecting (369)'
      },
      {
      value: '7',
      text: 'Ecologist licences (57)'
      },
      {
      value: '8',
      text: 'Organisational licences (15)'
      },
      {
      value: '9',
      text: 'Everything else (865)'
      }
    ]
  }) }}



<div class="moj-filter-layout">

  <div class="moj-filter-layout__filter-toggle">
    <button id="filter-toggle-button" class="govuk-button" type="button" aria-expanded="false" aria-controls="filter-options">
      Apply filters
      <span class="moj-filter-layout__filter-toggle-icon" aria-hidden="true"></span>
    </button>
  </div>

  
  <div id="filter-options" class="moj-filter-layout__filter-options" style="display: none;">
    

    {{ mojFilter({
      heading: {
      text: 'Filter'
      },
      selectedFilters: {

      heading: {
        text: 'Selected filters'
      },

      clearLink: {
        text: 'Clear filters'
      },

      categories: [
        {
          heading: {
            text: 'Status'
          },
          items: [{
            href: '#',
            text: 'Awaiting LH approval'
          }, {
            href: '#',
            text: 'In progress'
          }]
        },
        {
          heading: {
            text: 'Licence Type'
          },
          items: [{
            href: '#',
            text: 'PSD/H&S/Air safety'
          }, {
            href: '#',
            text: 'Surveys'
          }]
        }
      ]
    },
      optionsHtml: filterOptionsHtml
    }) }}

  </div>
</div>

</div>
<div class="govuk-grid-column-two-thirds">

  <div class="moj-filter-layout__content">

  <div class="moj-action-bar">

    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {text: 'Reference Number'},
        {text: 'Status'},
        {text: 'Licence Holder'},
        {text: 'Site'},
        {text: 'Date recieved'},
        {text: 'Assigned to'}
      ],
      rows: [
      [
      {html: '<a href="/staffui/unassigned" class="govuk-link">NS-GSD-05446</a>'},
      {html: 'Unassigned'},
      {text: 'Noah Martinez'},
      {html: '9 Cedar Lane'},
      {text: '18/04/2023'},
      {text: ''}
  ],
  [
      {html: '<a href="#" class="govuk-link">NS-RSD-12751</a>'},
      {html: 'Awaiting LH approval'},
      {text: 'Sophia Davis'},
      {html: '4 Elm Court'},
      {text: '20/04/2023'},
      {text: ''}
  ],
  [
      {html: '<a href="#" class="govuk-link">NS-RSD-17616</a>'},
      {html: 'In progress'},
      {text: 'Emma Johnson'},
      {html: '2 Park Avenue'},
      {text: '15/05/2023'},
      {text: ''}
  ],
  [
      {html: '<a href="#" class="govuk-link">NS-BSD-75846</a>'},
      {html: 'Issued'},
      {text: 'Oliver Wilson'},
      {html: '5 Maple Lane'},
      {text: '05/05/2023'},
      {text: ''}
  ],
  [
      {html: '<a href="/staffui/withdrawn" class="govuk-link">NS-RSD-14786</a>'},
      {html: 'Withdrawn'},
      {text: 'Olivia Taylor'},
      {html: '8 Willow Avenue'},
      {text: '22/05/2023'},
      {text: ''}
  ],
  [
      {html: '<a href="#" class="govuk-link">NS-RSD-19526</a>'},
      {html: 'Refused'},
      {text: 'Isabella Thompson'},
      {html: '6 Birch Road'},
      {text: '30/05/2023'},
      {text: ''}
  ],
  [
      {html: '<a href="#" class="govuk-link">NS-RSD-73946</a>'},
      {html: 'Expired'},
      {text: 'Michael Brown'},
      {html: '3 Oak Street'},
      {text: '10/06/2023'},
      {text: ''}
  ]
      ]
    }) }}
</div>
</div>




{% endblock %}
