{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<style>
  .govuk-grid-column-one-quarter {
    background-color: #f2f2f2; /* Grey background color */
    padding: 20px; /* Add padding for better visibility */
  }
</style>

 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukInput({
      id: 'keywords',
      name: 'keywords',
      label: {
        text: 'NatureScot Licensing Staff UI',
        classes: 'govuk-label--l'
      },
      classes: "govuk-input--width-30",
      hint: {
        text: 'Search by reference number, person, or postcode'
      }
    }) }}
  </div>

  <div class="govuk-grid-column-one-third">

  </div>
</div>

      <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter">

{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}


  <style>
    .govuk-checkboxes--small label.govuk-checkboxes__label {
      font-size: 15px; /* Change the font size to smaller */
    }
  </style>

{{ govukButton({
  text: "All applications",
  href: "/StaffUIindex",
  isStartButton: false
}) }}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{{ govukCheckboxes({
  idPrefix: 'status',
  name: 'status',
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: 'Status',
      classes: 'govuk-fieldset__legend--s'
    }
  },
  items: [
    {
      value: '1',
      text: 'Unassigned (1)',
      attributes: {
        disabled: 'disabled' 
      }
    },
    {
      value: '2',
      text: 'Awaiting LH approval (1)',
      attributes: {
        disabled: 'disabled' 
      }
    },
    {
      value: '3',
      text: 'In progress (1)',
      attributes: {
        disabled: 'disabled' 
      }
    },
    {
      value: '4',
      text: 'Issued (1)',
      attributes: {
        disabled: 'disabled'
      }
    },
    {
      value: '4',
      text: 'Withdrawn (1)',
      attributes: {
        disabled: 'disabled' 
      }
    },
    {
      value: '5',
      text: 'Revoked (1)',
      attributes: {
        disabled: 'disabled' 
      }
    },
    {
      value: '6',
      text: 'Refused (1)',
      attributes: {
        disabled: 'disabled' 
      }
    },
    {
      value: '7',
      text: 'Expired (1)',
      attributes: {
        disabled: 'disabled' 
      }
    }
  ]
}) }}

  {{ govukCheckboxes({
    idPrefix: 'licence-type',
    name: 'licence-type',
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: 'Licence type',
        classes: 'govuk-fieldset__legend--s'
      }
    },
    items: [
    {
      value: '1',
      text: 'Prevent Serious Damage (8)',
      attributes: {
        disabled: 'disabled' 
      }
      },
      {
      value: '2',
      text: 'Health and Safety (0)',
      attributes: {
        disabled: 'disabled' 
      }
      },
      {
      value: '3',
      text: 'Air safety (0)',
      attributes: {
        disabled: 'disabled' 
      }
      },
      {
      value: '4',
      text: 'Surveys (0)',
      attributes: {
        disabled: 'disabled' 
      }
      },
      {
      value: '5',
      text: 'Bats in houses (0)',
      attributes: {
        disabled: 'disabled' 
      }
      },
      {
      value: '6',
      text: 'Works affecting (0)',
      attributes: {
        disabled: 'disabled' 
      }
      },
      {
      value: '7',
      text: 'Ecologist licences (0)',
      attributes: {
        disabled: 'disabled' 
      }
      },
      {
      value: '8',
      text: 'Organisational licences (0)',
      attributes: {
        disabled: 'disabled' 
      }
      },
      {
      value: '9',
      text: 'Everything else (0)',
      attributes: {
        disabled: 'disabled' 
      }
      }
    ]
  }) }}



<div class="moj-filter-layout">

  <div class="moj-filter-layout__filter-toggle">
    <button id="filter-toggle-button" class="govuk-button" type="button" aria-expanded="false" aria-controls="filter-options" disabled>
      Apply filters
      <span class="moj-filter-layout__filter-toggle-icon" aria-hidden="true"></span>
    </button>
  </div>
  

  
  <div id="filter-options" class="moj-filter-layout__filter-options" style="display: none;">
    

    {{ mojFilter({
      heading: {
      text: 'Filter'
      },
      selectedFilters: {

      heading: {
        text: 'Selected filters'
      },

      clearLink: {
        text: 'Clear filters'
      },

      categories: [
        {
          heading: {
            text: 'Status'
          },
          items: [{
            href: '#',
            text: 'Awaiting LH approval'
          }, {
            href: '#',
            text: 'In progress'
          }]
        },
        {
          heading: {
            text: 'Licence Type'
          },
          items: [{
            href: '#',
            text: 'PSD/H&S/Air safety'
          }, {
            href: '#',
            text: 'Surveys'
          }]
        }
      ]
    },
      optionsHtml: filterOptionsHtml
    }) }}

  </div>
</div>

</div>
<div class="govuk-grid-column-three-quarters">

  <div class="moj-filter-layout__content">

  <div class="moj-action-bar">

    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {text: 'Reference Number'},
        {text: 'Status'},
        {text: 'Licence Holder'},
        {text: 'Site'},
        {text: 'Date recieved'},
        {text: 'Assigned to'}
      ],
      rows: [
  [
      {html: '<a href="/staffui/assigned-test3-passed" class="govuk-link">NS-GSD-05446</a>'},
      {html: 'In progress'},
      {html: data['lhname1'] | default("Noah Martinez")},
      {html: '9 Cedar Lane, Maplewood, Edinburgh, EH15 9GH'},
      {text: '15/05/2023'},
      {text: 'Kevin G'}
  ]
      ]
    }) }}
</div>
</div>




{% endblock %}
