{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      <form method="post" action="/type-of-damage-answer">

        {% set checkOptions = [    
          { value: "damage-to-livestock", text: "Damage to livestock" },  
          { value: "damage-to-foodstuffs", text: "Damage to foodstuffs for livestock" },  
          { value: "damage-to-crops", text: "Damage to crops" },  
          { value: "damage-to-vegetables", text: "Damage to vegetables" },  
          { value: "damage-to-fruit", text: "Damage to fruit" },  
          { value: "damage-to-growing-timber", text: "Damage to growing timber" },  
          { value: "damage-to-fisheries", text: "Damage to fisheries" },  
          { value: "damage-to-inland-water", text: "Damage to inland water" },  
          { value: "damage-to-other-property", text: "Damage to any other form of property" },  
          { value: "damage-to-land", text: "Damage to land" },  
          { value: "damage-to-poultry", text: "Damage to poultry" }
        ] %}

        {% if data['speciesSelection'] == 'ravens' %}
          {% set checkOptions = [checkOptions[0], checkOptions[1]] %}
        {% elif data['speciesSelection'] == 'gulls' %}
          {% set checkOptions = [checkOptions[0], checkOptions[1]] %}
        {% elif data['speciesSelection'] == 'other birds' %}
          {% set checkOptions = [checkOptions[0], checkOptions[1], checkOptions[2], checkOptions[3], checkOptions[4], checkOptions[5], checkOptions[6], checkOptions[7]] %}
        {% elif data['speciesSelection'] == 'badgers' %}
          {% set checkOptions = [checkOptions[2], checkOptions[8], checkOptions[9], checkOptions[10]] %}
        {% elif data['speciesSelection'] == 'hares' %}
          {% set checkOptions = [checkOptions[2], checkOptions[3], checkOptions[4], checkOptions[5]] %} 
        {% elif data['speciesSelection'] == 'beavers' %}
          {% set checkOptions = [checkOptions[2], checkOptions[3], checkOptions[4], checkOptions[5], checkOptions[8]] %}
        {% elif data['speciesSelection'] == 'pine martens' %}
          {% set checkOptions = [checkOptions[0], checkOptions[1], checkOptions[2], checkOptions[3], checkOptions[4], checkOptions[5], checkOptions[6], checkOptions[8]] %}
        {% elif data['speciesSelection'] == 'pine martens' %}
          {% set checkOptions = [checkOptions[0], checkOptions[1], checkOptions[2], checkOptions[3], checkOptions[4], checkOptions[5], checkOptions[6], checkOptions[8]] %}
        {% else %}
          {% set checkOptions =  none %}
          {% endif %}
        
        {% if data['speciesSelection'] == 'geese' or data['speciesSelection'] == 'fish-eating birds' %}
          <h1 class="govuk-heading-l">
            Provide details of the damage
          </h1>
        {% else %}
          <h1 class="govuk-heading-l">
            What type of damage is occurring?
          </h1>
        {% endif %}
        
        {{ govukCheckboxes({
          name: "damage-type",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: checkOptions
        }) }}
        

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "damage-details",
  id: "damage-details",
  value: data['damage-details'],
  label: {
    text: "Provide details of the damage experienced"
  }
}) }}

{{ govukButton({
  text: "Continue",
  preventDoubleClick: true
}) }}

</form>
    
    </div>
  </div>

{% endblock %}
